.partnerships {
  position: relative;
  color: #fff;
}

.main-data {
  position: relative;
  margin-top: 4rem;
  margin-left: 2rem;
}

.content {
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  p {
    width: 29rem;
    margin-top: 2.5rem;
    font-size: 16px;
    line-height: 1.7;
  }
}

.card-container {
  display: flex;
  // height: 250px;s
  width: 100%;
  overflow: hidden;

  app-partnership-card {
    display: block;
    flex: 1 1 0;
    width: 100%;
    transition:
      flex 1s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.6s ease;
  }

  &:has(app-partnership-card:hover) {
    app-partnership-card {
      flex: 0 0 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      // background-position: center center; /* 👈 الصورة كلها تبان */
    }

    app-partnership-card:hover {
      flex: 1 0 100%;
      opacity: 1;
      pointer-events: auto;
      // background-position: center center;
    }
  }
}
