.cards {
  position: relative;
  display: flex;
  height: 250px;
  flex-direction: column;
  .card-index {
    margin-bottom: 7px;
    font-size: 20px;
  }
  .card {
    height: 100%;
    min-height: 100%;
    cursor: pointer;
    border: none;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    width: 100%;
    border-radius: unset;

    transition:
      flex 0.8s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.6s ease,
      filter 0.6s ease;
    .overlay {
      position: absolute;
      inset: 0;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        transform: none;
        transition: opacity 0.4s ease;
        position: absolute;
        inset: 0;
        background-color: #1a2633;
        opacity: 0.4;
        z-index: -1;
      }
      .card-title {
        color: #fff;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        position: relative;
        z-index: 2;
      }
    }
  }
}
