.sidebar {
  background: linear-gradient(180deg, #0b2e44 0%, #061e2c 100%);
  padding: 0px 16px;
  color: #fff;
  height: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);

    img {
      width: 7rem;
      height: 7rem;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 1rem;
  }

  .menu-item {
    padding: 10px 8px 10px 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: #12384f;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #fff;
    transition:
      transform 1s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 1s ease;
    text-align: none;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #c7a86a;

      opacity: 0;
      transform: scale(0.98);
      transition:
        opacity 0.25s ease,
        transform 1s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 0;
      color: #0c1e2b;
    }

    > * {
      position: relative;
      z-index: 1;
      transition: color 0.25s ease;
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }
    &:hover .text {
      transform: translateX(6px);
    }
    &:hover .menu-icon {
      transform: translateX(6px);
    }
    &:hover .indicator {
      background: #fff;
    }
    .menu-icon {
      width: 2rem;
      height: 2rem;
      transition:
        transform 0.35s ease,
        color 0.35s ease,
        opacity 0.35s ease;
    }

    .indicator {
      width: 4px;
      height: 30px;
      background: #c7a86a;
      border-radius: 2px;
    }
    .menu-arrow {
      margin-left: auto;
      width: 1.2rem;
      height: 1.2rem;
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

      &.toggle {
        transform: rotate(180deg) scale(1.1);
      }
    }
    .icon {
      width: 32px;
      height: 32px;
      background: #c7a86a;
      border-radius: 50%;
    }

    .text {
      font-size: 14px;
      font-weight: 500;
      position: relative;
      z-index: 1;
      transition:
        transform 0.35s ease,
        color 0.35s ease,
        opacity 0.35s ease;
    }
  }

  .submenu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 12px;
    margin-top: 1rem;
  }
  .submenu::before {
    content: "";
    position: absolute;
    left: 0;
    margin-left: -8px;

    top: 0;
    bottom: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
  .submenu-item {
    position: relative;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #c7a86a;
      opacity: 0;
      transform: scale(0.97);
      transition:
        opacity 0.25s ease,
        transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 1;
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }

    .submenu-label {
      position: relative;
      z-index: 2;
      display: inline-block;
      transition:
        transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.25s ease,
        opacity 0.25s ease;
    }

    &:hover .submenu-label {
      transform: translateX(6px);
    }

    &.active {
      background: #c7a86a;
      color: #fff;
      font-weight: 600;
    }
  }
}
