.header {
  height: 72px;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-left: 8rem;

  display: flex;
  gap: 40px;

  a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;

    padding-bottom: 6px;

    &.active {
      color: #f2c97d;

      &::after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 19px;
        width: 54%;
        height: 3px;
        background-color: #f2c97d;
        border-radius: 2px;
      }
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.lang {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.profile {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 22px;
      height: 22px;
    }
  }
}
